<?xml version="1.0" encoding="UTF-8"?>
<!--所有各种服务器参数-->
<Fir>
	<global>
		<!-- Specify the log level[debug,info,warning,error,fatal,always]. -->
		<log>all</log>
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://kitty:123456@192.168.2.24:3306/mobile_kitty</mysql>
		<!-- Use the specified local network device. -->
		<ifname>eth0</ifname>
		<!-- Connected to the specified supserserver, property 'port' default value is 10000. -->
		<superserver port="10000">192.168.2.24</superserver>
		<gateway_maxconns>5000</gateway_maxconns>
		<!--重连开关-->
		<reconn>true</reconn>
		<!--是否启动GM指令 true:启用  false:不启用-->
		<gm>true</gm>
		<!--http端口-->
		<http_port>8080</http_port>
		<!-- http线程池连接数量 -->
		<httpThreadPoolCapacity>1024</httpThreadPoolCapacity>		
		<!-- 充值验证key -->
		<chargekey>70d27d8c9c2aad41344218655ec93ddf</chargekey>			
	</global>
	<superserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/lbs/log/superserver.log</logfilename>
		<!-- 统一用户平台服务器列表文件 -->
		<loginServerListFile>superserver/loginServerList.xml</loginServerListFile>
		<billlogfile>/home/lbs/log/billsuperserver.log</billlogfile>
		<rechargelogfile>/home/lbs/log/recharge_superserver.log</rechargelogfile>		
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://kitty:123456@192.168.2.24:3306/mobile_kitty</mysql>
	</superserver>
	<dbserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/lbs/log/recordserver.log</logfilename>
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://kitty:123456@192.168.2.24:3306/mobile_kitty</mysql>
	</dbserver>
	<sessionserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/lbs/log/sessionserver.log</logfilename>
		<billlogfile>/home/lbs/log/billsessionserver.log</billlogfile>
		<loginlogname>/home/lbs/log/flserver.log</loginlogname>
		<!--MySQL database connection[mysql://user:passwd@host:port/dbName]-->
		<mysql>mysql://kitty:123456@192.168.2.24:3306/mobile_kitty</mysql>
		<!-- 采集在线人数，人民币消耗等信息到指定数据采集中心数据库. 内网-->
		<realtime_mysql use="false">mysql://mobile:adsUHNIE1334wert43@10.10.115.37:3306/mobile</realtime_mysql>
	</sessionserver>
	<sceneserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/lbs/log/sceneserver.log</logfilename>
		<objlogfilename>/home/lbs/log/obj.log</objlogfilename>
		<s_objlogfilename>/home/lbs/log/statobj.log</s_objlogfilename>
		<billlogfile>/home/lbs/log/billsceneserver.log</billlogfile>
		<!-- 是否开启存档MD5 验证-->
		<md5Verify>false</md5Verify>
		<!-- 数据库存档分组-->
		<writeBackGroup>10</writeBackGroup>
	</sceneserver>
	<gateserver>
		<!-- Specify the log filename. -->
		<logfilename>/home/lbs/log/gateserver.log</logfilename>
		<billlogfile>/home/lbs/log/billgatewayserver.log</billlogfile>
		<loginlogname>/home/lbs/log/flserver.log</loginlogname>
		<forbidWordsFile>forbidWords</forbidWordsFile>
	</gateserver>
	<allzoneserver>
		<!-- Specify the log level[debug,info,warning,error,fatal,always]. -->
		<log>debug</log>
		<!-- Specify the log filename. -->
		<logfilename>/home/fl/log/allzoneserver.log</logfilename>
		<mysql>mysql://kitty:123456@192.168.2.24:3306/allzoneserver</mysql>
		<!-- 内部使用端口，用于服务器之间数据传输 -->
		<inside_port>1600</inside_port>
	</allzoneserver>
	<flserver>
		<!-- Specify the log level[debug,info,warning,error,fatal,always]. -->
		<log>debug</log>
		<!-- 网关最大连接数量 0表示无限制 -->
		<maxGatewayUser>10000</maxGatewayUser>
		<!-- Specify the log filename. -->
		<logfilename>/home/fl/log/flserver.log</logfilename>
		<mysql>mysql://kitty:123456@192.168.2.24:3306/flserver</mysql>
		<!-- 区信息列表数据库 -->
		<zoneInfo_mysql hashcode="20">mysql://kitty:123456@192.168.2.24:3306/flserver</zoneInfo_mysql>
		<!-- 邀请码数据库 -->
		<invitcode_mysql hashcode="10">mysql://kitty:123456@192.168.2.24:3306/flserver</invitcode_mysql>
		<!-- 客户端登陆端口，外部使用 -->
		<login_port>1500</login_port>
		<!-- 内部使用端口，用于服务器之间数据传输 -->
		<inside_port>1501</inside_port>
		<!-- PHP登陆端口，外部使用 -->
		<php_port>1502</php_port>
		</flserver>
	</Fir>
